extends includes/layout

block content

    section#wrapper.post
        article
            header
                h1!=page.title
                h2.headline!=date(page.date, theme.date_format)
                    | <br>
                    = __('wordcount', wordcount(page.content))
                    |&nbsp;·&nbsp;
                    |#{min2read(page.content)} minutes read
                    if theme.isso.enable && !page.hide_comments
                        |&nbsp;·&nbsp;
                        a(href=url_for(page.path)+'#isso-thread') 0 Comments

            if !page.hidetoc && toc(page.content)
                div#toc!=toc(page.content,{list_number:false})

            section#post-body!=page.content

            if ((page.tags && page.tags.length) | (page.categories && page.categories.length))
                hr
                if (page.categories.length)
                    div.categories
                        b= __('posted_in')
                        | &nbsp;
                        != list_categories(page.categories, {style: false, show_count: false})
                if (page.tags.length)
                    div.tags
                        b= __('tagged')
                        | &nbsp;
                        != list_tags(page.tags, {style: false, show_count: false})

            if (page.original_url)
                span.original_url
                    b= __('original_url')
                    | &nbsp;
                    =page.original_url

            - var prev = page.prev ? page.prev.path : false;
            - var next = page.next ? page.next.path : false;
            nav#post-nav
                span.prev
                    if page.prev
                        a(href=url_for(prev))
                            span.arrow ←
                            = __('next')
                span.next
                    if page.next
                        a(href=url_for(next))
                            = __('prev')
                            span.arrow →

            if !page.hide_comments
                include includes/comment.pug
